# Large file threshold in bytes
big_file_threshold_bytes = 1048576

# Directories to ignore, when opening files etc.
ignore_directories = [".git", "target"]

# Default shell command
shell = "/bin/bash"

# Autodetect eol from file
detect_eol = true
eol = "LF"

# Autodetect indentation from file
detect_indent = true

# Maximum prompt completions to show at once
max_prompt_completions = 10

# Maximum completions to show at once
max_completions = 10
theme = "seoul-light"

# Highlight syntax
highlight_syntax = true

# Highlight LSP diagnostics
highlight_diagnostics = true

# Automatically indent lines, and clear them from indent
autoindent = true

# Automatically insert pairs on enter, works only with autoindent
autopair = true

# Currently used window manager
# Options:
# Auto: automatically detect window manager
# Tmux
window_manager = "Auto"

# Filetype glob patterns
# By default the filetype is the extension of the file
[filetype_detect]
rust = ["*.rs"]
toml = ["*/Cargo.lock"]
markdown = ["*.md"]
yaml = ["*.yml"]
make = ["*/Makefile"]

[filetype.peg]
comment = "# "

[filetype.toml]
comment = "# "

[filetype.make]
comment = "# "

[keymaps.snippet]
fallthrough = "insert"
maps = [
    { key = "tab", actions = ["snippet_jump_next"] },
]

[keymaps.insert]
maps = [
    { key = "esc", actions = ["stop_selection", "completion_abort", "prev_grapheme_on_line", "goto_layer window"] },
    { key = "§", actions = ["stop_selection", "completion_abort", "prev_grapheme_on_line", "goto_layer window"] },
    { key = "left", actions = ["prev_grapheme"] },
    { key = "up", actions = ["prev_line"] },
    { key = "down", actions = ["next_line"] },
    { key = "right", actions = ["next_grapheme"] },
    { key = "backspace", actions = ["remove_grapheme_before_cursor"] },
    { key = "delete", actions = ["remove_grapheme_after_cursor"] },
    { key = "enter", actions = ["insert_newline"] },
    { key = "tab", actions = ["insert_tab"] },
    { key = "btab", actions = ["backtab"] },
]

[keymaps.select]
discard = true
fallthrough = "window"
maps = [
    { key = "i", actions = ["nop"] },
    { key = "x", actions = ["copy", "remove_cursor_selections", "goto_layer window"] },
    { key = "d", actions = ["copy", "remove_cursor_selections", "goto_layer window"] },
    { key = "c", actions = ["copy", "remove_cursor_selections", "goto_layer insert"] },
    { key = "y", actions = ["copy", "stop_selection", "goto_layer window"] },
    { key = "esc", actions = ["stop_selection", "goto_layer window"] },
    { key = "§", actions = ["stop_selection", "goto_layer window"] },
    { key = ".", actions = ["swap_selection_dir"] },

    { key = "K", actions = ["swap_selection_dir", "prev_line", "swap_selection_dir"] },
    { key = "J", actions = ["swap_selection_dir", "next_line", "swap_selection_dir"] },

    { key = "g", actions = ["nop"] },
    { key = "g c", actions = ["toggle_comment_lines"] },
    { key = "I", actions = ["cursors_to_lines_start"] },
    { key = "A", actions = ["cursors_to_lines_end"] },

    { key = "ctrl+x", actions = ["cut", "goto_layer window"] },
    { key = "ctrl+c", actions = ["copy", "stop_selection", "goto_layer window"] },
]

[keymaps.window]
discard = true
on_enter = ["show_diagnostic_highlights"]
on_leave = ["hide_diagnostic_highlights"]
maps = [
    { key = "space q", actions = ["quit"] },
    { key = "space s", actions = ["strip_trailing_whitespace"] },
    { key = "alt+v", actions = ["select_line", "copy", "stop_selection", "paste", "prev_line"] },
    { key = "ctrl+w", actions = ["new_window"] },

    { key = "ctrl+s", actions = ["save"] },
    { key = "ctrl+c", actions = ["copy", "stop_selection"] },
    { key = "ctrl+v", actions = ["paste"] },
    { key = "ctrl+x", actions = ["cut"] },
    { key = "ctrl+d", actions = ["scroll_down"] },
    { key = "ctrl+u", actions = ["scroll_up"] },

    { key = "esc", actions = ["cancel"] },
    { key = "§", actions = ["cancel"] },
    { key = "y", actions = ["select_line", "swap_selection_dir", "copy", "stop_selection"] },
    { key = "p", actions = ["paste"] },
    { key = "i", actions = ["goto_layer insert"] },
    { key = "u", actions = ["undo"] },
    { key = "U", actions = ["redo"] },
    { key = "h", actions = ["prev_grapheme_on_line"] },
    { key = "g k", actions = ["prev_line"] },
    { key = "g j", actions = ["next_line"] },
    { key = "l", actions = ["next_grapheme_on_line"] },
    { key = "k", actions = ["prev_visual_line"] },
    { key = "j", actions = ["next_visual_line"] },
    { key = "ctrl+o", actions = ["jump_prev"] },
    { key = "tab", actions = ["jump_next"] },
    { key = "g ;", actions = ["jump_prev_change"] },
    { key = "g ,", actions = ["jump_next_change"] },
    { key = "z z", actions = ["view_to_cursor_middle"] },
    { key = "z t", actions = ["view_to_cursor_top"] },
    { key = "z b", actions = ["view_to_cursor_bottom"] },
    { key = "H", actions = ["cursor_to_view_top"] },
    { key = "M", actions = ["cursor_to_view_middle"] },
    { key = "L", actions = ["cursor_to_view_bottom"] },
    { key = "g c", actions = ["toggle_comment_lines"] },
    { key = "J", actions = ["join_lines"] },


    { key = "ctrl+p", actions = ["open_file"] },
    { key = "v", actions = ["start_selection", "next_grapheme", "goto_layer select"] },
    { key = "$", actions = ["end_of_line"] },
    { key = "^", actions = ["start_of_line"] },
    { key = "0", actions = ["first_char_of_line"] },
    { key = "w", actions = ["next_word_start"] },
    { key = "b", actions = ["prev_word_start"] },
    { key = "V", actions = ["select_line", "goto_layer select"] },
    { key = "a", actions = ["next_grapheme_on_line", "goto_layer insert"] },
    { key = "A", actions = ["end_of_line", "goto_layer insert"] },
    { key = "I", actions = ["first_char_of_line", "goto_layer insert"] },
    { key = "!", actions = ["shell_command"] },
    { key = ":", actions = ["command_palette"] },
    { key = "/", actions = ["search_forward"] },
    { key = "?", actions = ["search_backward"] },
    { key = "%", actions = ["goto_matching_pair"] },
    { key = "c", actions = ["first_char_of_line", "remove_to_end_of_line", "goto_layer insert"] },
    { key = "d", actions = ["select_line", "copy", "swap_selection_dir", "remove_cursor_selections"] },
    { key = "D", actions = ["start_selection", "end_of_line", "copy", "remove_cursor_selections"] },
    { key = "x", actions = ["remove_grapheme_after_cursor"] },
    { key = "G", actions = ["end_of_buffer"] },
    { key = "g g", actions = ["start_of_buffer"] },
    { key = "o", actions = ["newline_below", "goto_layer insert"] },
    { key = "O", actions = ["newline_above", "goto_layer insert"] },
    { key = ">", actions = ["indent_line"] },
    { key = "<", actions = ["dedent_line"] },
    { key = "f", actions = ["find_next_char_on_line"] },
    { key = "F", actions = ["find_prev_char_on_line"] },
    { key = ";", actions = ["next_searched_char"] },
    { key = ",", actions = ["prev_searched_char"] },
    { key = "n", actions = ["next_search_match"] },
    { key = "N", actions = ["prev_search_match"] },
    { key = "#", actions = ["search_prev_word_under_cursor"] },
    { key = "*", actions = ["search_next_word_under_cursor"] },
    { key = "&", actions = ["align_cursor_columns"] },

    { key = "right", actions = ["next_grapheme_on_line"] },
    { key = "left", actions = ["prev_grapheme_on_line"] },

    { key = "alt+down", actions = ["new_cursor_to_next_line"] },
    { key = "alt+up", actions = ["new_cursor_to_prev_line"] },
    { key = "alt+d", actions = ["new_cursor_to_next_search_match!", "goto_layer select"] },
    { key = "alt+l", actions = ["new_cursor_to_all_search_matches!", "goto_layer select"] },
    { key = "space b", actions = ["open_buffer"] },
    { key = "space g", actions = ["grep"] },
    # { key = "alt+k", actions = ["prev_paragraph"] },
    # { key = "alt+j", actions = ["next_paragraph"] },

    { key = "g d", actions = ["goto_definition"] },
    { key = "g r", actions = ["references"] },
    { key = "g R", actions = ["rename"] },
    { key = "space a", actions = ["code_action"] },
    { key = "space f", actions = ["format"] },
    { key = "space e", actions = ["show_diagnostics"] },
    { key = "space d", actions = ["diagnostics_to_locations"] },
    { key = "K", actions = ["hover"] },

    { key = "-", actions = ["show_filetree"] },
    { key = "alt+q", actions = ["show_locations"] },
    { key = "backspace", actions = ["goto_prev_buffer"] },
    { key = "alt+j", actions = ["focus_locations"] },
    { key = "alt+h", actions = ["focus_filetree"] },

    { key = "s l", actions = ["select_line!",        "goto_layer select"] },
    { key = "s c", actions = ["select_curly!",       "goto_layer select"] },
    { key = "s C", actions = ["select_curly_incl!",  "goto_layer select"] },
    { key = "s b", actions = ["select_parens!",      "goto_layer select"] },
    { key = "s B", actions = ["select_parens_incl!", "goto_layer select"] },
    { key = "s r", actions = ["select_square!",      "goto_layer select"] },
    { key = "s R", actions = ["select_square_incl!", "goto_layer select"] },
    { key = "s a", actions = ["select_angle!",       "goto_layer select"] },
    { key = "s A", actions = ["select_angle_incl!",  "goto_layer select"] },
    { key = 's "', actions = ["select_double!",      "goto_layer select"] },
    { key = "s '", actions = ["select_single!",      "goto_layer select"] },
    { key = "s `", actions = ["select_backtick!",    "goto_layer select"] },
    { key = "s p", actions = ["select_paragraph!",   "goto_layer select"] },
    { key = "s w", actions = ["select_word!",        "goto_layer select"] },

    { key = "e", actions = ["next_word_end"] },
    { key = "E", actions = ["prev_word_end"] },

    { key = "f2", actions = ["build_project"] },
    { key = "f3", actions = ["run_project"] },
    { key = "f5", actions = ["reload_window"] },
]

[keymaps.search]
maps = [
    { key = "ctrl+q", actions = ["quit"] },
    { key = "esc", actions = ["prompt_close"] },
    { key = "§", actions = ["prompt_close"] },
    { key = "backspace", actions = ["prompt_remove_grapheme_before_cursor"] },
    { key = "left", actions = ["prompt_prev_grapheme"] },
    { key = "right", actions = ["prompt_next_grapheme"] },
    { key = "enter", actions = ["prompt_confirm"] },
    { key = "up", actions = ["prompt_history_next"] },
    { key = "down", actions = ["prompt_history_prev"] },
    # { key = "ctrl+r", actions = ["search_toggle_regex"] },
]


[keymaps.locations]
maps = [
    { key = "alt+q", actions = ["close_locations"] },
    { key = "space q", actions = ["close_locations"] },
    { key = "k", actions = ["prev_loc_entry"] },
    { key = "j", actions = ["next_loc_entry"] },

    { key = "enter", actions = ["goto_loc_entry"] },
    { key = "p", actions = ["select_loc_parent"] },
    { key = "e", actions = ["toggle_all_expand_locs"] },

    { key = "alt+k", actions = ["focus_window"] },
]

[keymaps.filetree]
maps = [
    { key = "space q", actions = ["close_filetree"] },
    { key = "enter", actions = ["goto_ft_entry"] },
    { key = "k", actions = ["prev_ft_entry"] },
    { key = "j", actions = ["next_ft_entry"] },
    { key = "h", actions = ["select_ft_parent"] },
    { key = "p", actions = ["select_ft_parent"] },
    { key = "s", actions = ["ft_goto_current_file"] },

    { key = "c", actions = ["ft_new_file"] },
    { key = "d", actions = ["ft_delete_file"] },
    { key = "r", actions = ["ft_rename_file"] },
    { key = "m", actions = ["ft_rename_file"] },

    { key = "alt+l", actions = ["focus_window"] },
]

[keymaps.prompt]
maps = [
    { key = "esc", actions = ["prompt_close"] },
    { key = "§", actions = ["prompt_close"] },
    { key = "backspace", actions = ["prompt_remove_grapheme_before_cursor"] },
    { key = "left", actions = ["prompt_prev_grapheme"] },
    { key = "right", actions = ["prompt_next_grapheme"] },
    { key = "tab", actions = ["prompt_next_completion"] },
    { key = "btab", actions = ["prompt_prev_completion"] },
    { key = "enter", actions = ["prompt_confirm"] },
    { key = "up", actions = ["prompt_history_next"] },
    { key = "down", actions = ["prompt_history_prev"] },
]

[keymaps.completion]
fallthrough = "insert"
maps = [
    { key = "tab", actions = ["completion_next"] },
    { key = "btab", actions = ["completion_prev"] },
    { key = "enter", actions = ["completion_confirm"] },
    { key = "esc", actions = ["completion_abort"] },
    { key = "§", actions = ["completion_abort"] },
]


[snippets.ticket]
trigger = "ticket"
body = """[TICKET-${1:number}] ${0:description}"""


[[snippet]]
trigger="bob"
body="hello $0 world $1"
