[Desktop Entry]
Version=1.0
Name=SanEdit
Exec=x-terminal-emulator -e bash -c "sane; exec bash"
Icon=/usr/share/sanedit/sanedit.svg
Terminal=false
Type=Application
Categories=Application;
